.tabConteudo {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
	vertical-align: middle;
}

.celConteudo {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
}
.celConteudoChamada {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
	width: 180px;
}
.celConteudoCampo {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
	width: 800px;
}

.celConteudoDestaque {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
	font-weight: bolder;
}

.celConteudoCentralizado {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
	text-align: center;
}

.celConteudoCabecalho {
	font-family: Arial, Helvetica, sans-serif;
	color: #0b314b;
	font-size: 15px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 25px;
	font-weight: bolder;
	background-color: #eeeef0;
}

.celConteudoBotao {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 13px;
	padding-left: 5px;	
	vertical-align: middle;
}

.linhaOn {
	background-color: #b2d3e0;
}

.linhaOf {
	background-color: #eeeef0;
}
/*
.tabFoto {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 98%;
	vertical-align: middle;
	text-align: center;
}
*/
.celFoto {
	text-align: center;	
}

.celConteudoPesquisa {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 11px;
	padding-left: 5px;	
	vertical-align: middle;
	height: 20px;
}

.celConteudoPesquisaPrincipal {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 11px;
	font-weight: bolder;
	padding-left: 5px;	
	vertical-align: middle;
	height: 20px;
}