.geral {
	background-color: White;
}

.clear {        
	float: none;        
	clear: both;        
	display: block;
}

.divTopo {
	width: 110%;
	height: 40px;
	margin-left: -5%;
	background-image: url(../imagens/topo.png);
	background-repeat: repeat-x;
	z-index: 0;
}

.divConteudoTopo {
	clear: both;
	width: 980px;
	left: 50%; 
	margin-left: -490px;
	position: absolute;
	height: 40px;
	z-index: 0;
}

.divConteudoEsquerdaTopo {
	float: left;
	width: 370px;
	height: 35px;
	text-align: left;
	margin-top: 5px;
}

.divBotaoMenuSuperiorEsquerda {
	float: left;
	width: 118px;
	height: 30px;
	background-image: url(../imagens/botao_topo.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	text-align: center;
}

.divConteudoDireitaTopo {
	float: right;
	width: 370px;
	height: 35px;
	text-align: right;
	margin-top: 5px;
}

.divBotaoMenuSuperiorDireita {
	float: right;
	width: 118px;
	height: 30px;
	background-image: url(../imagens/botao_topo.png);
	background-repeat: no-repeat;
	padding-top: 3px;
	text-align: center;
}

.divLogo {
	width: 210px;
	left: 50%; 
	margin-left: -105px;
	position: absolute;
	height: 60px;
	background-image: url(../imagens/area_logo.png);
	background-repeat: repeat-x;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 2px;
	border-color: #004b80;
	text-align: center;
	vertical-align: middle;
	z-index: 99;
}

.divAreaBanner {
	width: 110%;
	height: 134px;
	margin-left: -5%;
	background-image: url(../imagens/area_banner.png);
	background-repeat: repeat-x;
	z-index: 0;
}

.divBanner {
	width: 980px;
	left: 50%; 
	margin-left: -490px;
	position: relative;
	height: 130px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width: 4px;
	border-left-width: 4px;
	border-right-width: 4px;
	border-color: #004b80;
	text-align: center;
	z-index: 1;
}

.divMenuAdministrativo {
	clear: both;
	width: 988px;
	left: 50%; 
	margin-left: -490px;
	position: relative;
	height: 30px;
	background-image: url(../imagens/menu_administrativo.png);
	background-repeat: repeat-x;
}

.divAreaMenuInterno {
	clear: both;
	text-align: center;
	width: 100%;
}

.divConteudo {
	clear: both;
	width: 988px;
	left: 50%; 
	margin-left: -490px;
	position: relative;
	height: auto;
}

.divConteudoAreasConhecimento {
	float: left;
	width: 800px;
	height: 400px;
	margin-top: 15px;
}

.divTodosConteudoAreasConhecimento {
	float: right;
	width: 173px;
	height: 400px;
	margin-top: 15px;
	background-color: #004b82;
	margin-left: 15px;
}

.divConteudoAreasConhecimentoAcesso {
	float: left;
	clear: both;
	width: 800px;
	height: 35px;
	background-image: url(../imagens/barra_areas_conhecimento.png);
}
.divConteudoAreasConhecimentoAcessoChamada {
	float: left;
	width: 755px;
	height: 35px;
}
.divConteudoAreasConhecimentoAcessoAcao {
	float: right;
	width: 45px;
	height: 35px;
}

.divConteudoAreasConhecimentoContorno {
	float: left;
	width: 800px;
	height: 350px;
	background-color: #00497e;
	margin-top: 15px;
}

.divConteudoAreasConhecimentoCentro {
	float: left;
	width: 782px;
	height: 332px;
	background-color: #8abed4;
	margin:  7px 7px 7px 7px;
	padding: 2px 2px 2px 2px;
}

.divConteudoAreasConhecimentoItemAbreTopo {
	float: left;
	width: 45px;
	height: 20px;
	background-image: url(../imagens/capa_area_conhecimento_abre_topo.png);
}

.divConteudoAreasConhecimentoItemTopo {
	float: left;
	width: 120px;
	height: 20px;
	background-image: url(../imagens/capa_area_conhecimento_topo.png);
}

.divConteudoAreasConhecimentoItemFechaTopo {
	float: left;
	width: 17px;
	height: 20px;
	background-image: url(../imagens/capa_area_conhecimento_fecha_topo.png);
}

.divConteudoAreasConhecimentoItemAbreLinha1 {
	float: left;
	width: 30px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_abre_1.png);
}

.divConteudoAreasConhecimentoItemFechaLinha1 {
	float: left;
	width: 32px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_fecha_1.png);
}

.divConteudoAreasConhecimentoItemAbreLinha2 {
	float: left;
	width: 38px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_abre_2.png);
}

.divConteudoAreasConhecimentoItemFechaLinha2 {
	float: left;
	width: 24px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_fecha_2.png);
}

.divConteudoAreasConhecimentoItemAbreLinha3 {
	float: left;
	width: 25px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_abre_3.png);
}

.divConteudoAreasConhecimentoItemFechaLinha3 {
	float: left;
	width: 37px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento_fecha_3.png);
}

.divConteudoAreasConhecimentoItemAbreBase {
	float: left;
	width: 35px;
	height: 13px;
	background-image: url(../imagens/capa_area_conhecimento_abre_base.png);
}

.divConteudoAreasConhecimentoItemBase {
	float: left;
	width: 120px;
	height: 13px;
	background-image: url(../imagens/capa_area_conhecimento_base.png);
}

.divConteudoAreasConhecimentoItemFechaBase {
	float: left;
	width: 27px;
	height: 13px;
	background-image: url(../imagens/capa_area_conhecimento_fecha_base.png);
}

.divConteudoAreasConhecimentoItem {
	float: left;
	width: 120px;
	height: 100px;
	background-image: url(../imagens/capa_area_conhecimento.png);
	text-align: center;
}

.divLivroCorAreaConhecimento {
	width: 41px;
}

.divDetalhesOACadastro {
	z-index:1000;
	position:absolute;
	width:990px;
	height:400px;
	display: none;
	background-color: #DCDCDC;
	overflow:auto;
}
.divDetalhesOACadastroFechar {
	float: right;
	width: 35px;
	height: 50px;
	text-align: center;
}

.divDetalhesOACadastroConteudo {
	width:950px;
	height:100%;
}











.divAreaRodape {
	width: 110%;
	margin-left: -5%;
	background-color: #006894;
	height: auto;
}

.divRodape {
	clear: both;
	width: 988px;
	left: 50%; 
	margin-left: -490px;
	position: relative;
	z-index: 0;
	height: auto;
}

.divAreaLogin {
	clear: both;
	width: 820px;
	height: 440px;
	margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 60px; 
	margin-top: 20px;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-left: 20px;
	padding-right: 20px;
}

.divLoginAcesso {
	float: left;
	width: 345px;
	height: 200px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #e0e1e3;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-left: 20px;
	padding-right: 20px;
}

.divLoginCadastro {
	float: left;
	width: 345px;
	height: 120px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #e0e1e3;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-left: 20px;
	padding-right: 20px;
}

.divLoginRedesSociais {
	float: right;
	width: 360px;
	height: 342px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #e0e1e3;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-left: 20px;
	padding-right: 20px;
}

.divMensagemCadastro {
	clear: both;
	width: 820px;
	height: auto;
	margin-bottom: 20px;
	margin-left: 60px;
	margin-right: 60px; 
	margin-top: 20px;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.divEsqueceuSenha {
	clear: both;
	width: 380px;
	height: auto;
	margin-bottom: 20px;
	margin-left: 280px;
	margin-right: 320px; 
	margin-top: 20px;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
