/****************************MENU*SUPERIOR************************************/
.fontLinkMenuSuperior {
   font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: White;
	text-decoration: none;	
	font-weight: normal;
}
.fontLinkMenuSuperior:hover {
	text-decoration: underline;
}

.fontLinkMenuSuperiorSelecionado {
   font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	text-decoration: none;	
	font-weight: bolder;
}





/****************************MENU*ADMINISTRATIVO******************************/
.fontMenuAdministrativo {
	font-family: Arial, Helvetica, sans-serif;
	color: #8c9393;
	font-size: 16px;
	padding-top: 4px;
	text-align: center;
}


.fontLinkMenuAdministrativo {
   font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8c9393;
	text-decoration: none;	
	font-weight: normal;
}
.fontLinkMenuAdministrativo:hover {
	text-decoration: underline;
}
.fontLinkMenuAdministrativoSelecionado {
   font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #8c9393;
	text-decoration: none;	
	font-weight: bolder;
}





/****************************MENU*INTERNO*************************************/
.fontConteudoMenuInterno {
   text-align: center;
}






/****************************COMANDOS*****************************************/
.fontComandosFiltros {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #e89d25;
	font-weight: bold;
	text-align: right;
	vertical-align: super;
	text-decoration: none;
	padding-right: 10px;
}






/****************************RETORNOS*****************************************/
.fontConteudoAlerta {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #f41b07;
	margin-bottom: 2px;
	margin-top: 2px;	
	text-align: center;
}

.fontConteudoSucesso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #8ccb59;
	margin-bottom: 2px;
	margin-top: 2px;	
	text-align: center;
}







/****************************LINKS*GERAIS*************************************/
.fontLink {
	color: #e89d25;
	text-decoration: none;
}
.fontLink:hover {
	text-decoration: underline;
}
.fontLinkReduzido {
	color: #e89d25;
	font-size: 11px;
	text-decoration: none;
}
.fontLinkReduzido:hover {
	text-decoration: underline;
}






/****************************CONTEÚDOS****************************************/
.fontComandosCentralizados {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #e89d25;
	margin-bottom: 2px;
	margin-top: 2px;	
	text-align: center;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #004b80;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
}
.fontConteudoCentralizado {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: center;
}
.fontConteudoPesquisa {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 11px;
	text-align: center;
}







/****************************LOGIN********************************************/
.fontConteudoLogin {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 14px;
}

.fontConteudoLogado {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: right;
}

.fontCampoLogin {
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 14px;
	border-color: #004b80;
	border-width: 1px;
	border-style: groove;
	width: 320px;
}

.botao {
	width: 100px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeef0;
	border-color: #004b80;
	border-width: 1px;
	border-style: groove;
	border-radius: 20px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 12px;	
}

.botaoGrande {
	width: 200px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	background-color: #eeeef0;
	border-color: #004b80;
	border-width: 1px;
	border-style: groove;
	border-radius: 20px 20px 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 14px;	
}

.fontLinkLogin {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 14px;
	text-decoration: none;	
}

.fontLinkLogin:hover {
	text-decoration: underline;
}







/****************************TÍTULOS******************************************/
h1 {
	padding-top: 5px;
	padding-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 18px;
	font-style: bold;
	font-variant: small-caps;
}

h2 {
	padding-top: 4px;
	padding-bottom: 7px;
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 16px;
	font-style: bold;
	font-variant: small-caps;
}

h3 {
	padding-top: 3px;
	padding-bottom: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 14px;
	font-style: bold;
	font-variant: small-caps;
}

h4 {
	padding-top: 1px;
	padding-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: #004b80;
	font-size: 14px;
	font-variant: small-caps;
}









/****************************CAMPOS*******************************************/
.fontConteudoCampoTextHintObrigatorio {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 5px;	
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoTextHint {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: White;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	height: 30px;
	margin-bottom: 5px;
	margin-top: 5px;	
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoTextHintFiltro {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 16px;
	text-align: left;
	background-color: #FAF0E6;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	height: 50px;
	margin-bottom: 5px;
	margin-top: 15px;	
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoTextoHintObrigatorio {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	margin-bottom: 5px;
	margin-top: 5px;	
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoTextoHint {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: White;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	margin-bottom: 5px;
	margin-top: 5px;	
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoSeletorHintObrigatorio {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	margin-bottom: 5px;
	margin-top: 5px;	
	padding-left: 5px;	
	height: 30px;
	moz-placeholder: #e89d25;
}
.fontConteudoCampoSeletorHint {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: White;
	border-style: solid;
	border-width: 1px;
	border-color: #e89d25;
	margin-bottom: 5px;
	margin-top: 5px;	
	height: 30px;
	padding-left: 5px;	
	moz-placeholder: #e89d25;
}
.fontConteudoCampoSeletorHintFiltro {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 14px;
	text-align: left;
	background-color: White;
	border-style: solid;
	border-width: 1px;
	border-color: #f9c26c;
	margin-bottom: 2px;
	margin-top: 1px;	
	height: 22px;
	padding-left: 5px;	
	moz-placeholder: #f9c26c;
}
.fontConteudoCadastroExterno {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: center;
}
.fonInputExterno {
	font-family: Arial, Helvetica, sans-serif;
	color: #e89d25;
	font-size: 15px;
	text-align: left;
	background-color: #eeeef0;
	border-style: solid;
	border-width: 1px;
	border-color: #004b80;
	height: 30px;
	width: 350px;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-left: 5px;
	moz-placeholder: #e89d25;
}








/****************************ÁREAS*CONHECIMENTO*CAPA**************************/
.fontChamadaAreaConhecimento {
	font-family: Arial, Helvetica, sans-serif;
	color: White;
	text-align: center;
	text-decoration: none;
}
.fontChamadaAreaConhecimento:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #004c82;
	text-align: center;
}
.fontChamadaRelacaoAreaConhecimento {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #004c82;
	text-align: left;
}
.fontChamadaRelacaoAreaConhecimentoLink {
	font-size: 14px;
	color: #004c82;
	text-decoration: none;
}
.fontChamadaRelacaoAreaConhecimentoLink:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-decoration: none;
}








/****************************INFORMAÇÕES**************************************/
a.dcontexto{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00549a;
	text-decoration: none;	
	position:relative; 
	padding:0;
  	cursor:help; 
	text-align: justify;
}

a.dcontexto:hover{
	background:transparent;
}

a.dcontexto span {
	display: none;
}

a.dcontexto:hover span { 
	display: block;
  	position: absolute;
  	width: 250px; 
	left: -250px;
	top: -70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: White;
	padding: 5px 5px 5px 5px;
	border:1px solid #00549a;
  	background:#e1ebf4;
  	color: #00549a;
	text-align: justify;
}

/****************************INFORMAÇÕES*O*A**********************************/
a.dcontextoOA{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00549a;
	text-decoration: none;	
	position:relative; 
	padding:0;
  	cursor:help; 
	text-align: justify;
}

a.dcontextoOA:hover{
	background:transparent;
}

a.dcontextoOA span {
	display: none;
}

a.dcontextoOA:hover span { 
	display: block;
  	position: absolute;
  	width: 500px; 
	left: -500px;
	top: -150px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: White;
	padding: 5px 5px 5px 5px;
	border:1px solid #00549a;
  	background:#e1ebf4;
  	color: #00549a;
	text-align: justify;
}

.fontDetalhar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #00549a;
	text-decoration: none;	
}

/****************************BLOQUEIOS****************************************/
.fontBloqueioAcesso {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #f41b07;
	margin-bottom: 50px;
	margin-top: 50px;	
	text-align: center;	
}





/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/

/****************************|************************************************/
